@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
* {
  font-family: 'Roboto Slab', serif;
}
body{
  margin: 0;
  margin-bottom: 50px;
  padding-top: 50px;padding-bottom: 100px;
  height: 100vh;
  background-color: #d0efff;

}
.displayNone{
    display: none;
}
.show{
    display: block;
}
h1{
    text-align: center;
    font-size: 38px;
    font-weight: 900;
    padding: 20px;
}
ul li {
    list-style: none;
    padding: 20px;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    border: 2.5px solid #000;
    border-top: none;
    padding-right: 0;
}
ul li:first-child{
    border-top: 2.5px solid #000;
}
ul{
    margin-bottom: 50px;
}
ul li span{
    cursor: pointer;
}
img{
    width: 30px;
}
i{
    margin-right: 5px;
}
#spanToggle:hover{
    background-color: #0069d9;
}
#buttons .btn:hover{
    background-color: #0069d9;
}
#us{
    color: #2f455c;
}
#submit{
    margin-top: 30px;
}
#priority{
    margin-bottom: 50px;
}
.btn{
    background-color: #2f455c;
}
#buttons{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}
.newUser{
    display: none;
    margin-bottom: 50px;
    padding-bottom: 50px;
}
.midText{
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}
.textContent{
    text-align: center;
    margin-top: 50px;
}
.cl{
    display: flex;
    width: 100%;
}
.cl button{
    padding: 0;
    width: 40%;
}
.cl span{
    width: 60%;
}
.container{
    width: 600px;
}
.content h4{
    color: #000;
}
.newUser .btn{
    width: 30%;
    padding: 0%;
    font-size: 18px;
}
@media screen and (max-width : 800px){
    .col{
        margin-top: 50px;
    }
    .container{
        width: 350px;
    }
    ul{
        padding: 0;
        margin-left: 0 ;
    }
}